body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

#show-selector,
#episode-selector,
#search-bar {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#search-bar {
  width: 300px;
}

p#results-count {
  font-size: 14px;
  margin: 10px;
  color: #555;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.episode-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;

  text-align: center;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.episode-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);

  max-width: 400px;
  margin: 0 auto;

}

.episode-card img {
  width: 100%;

  max-height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;
  height: auto;
  border-bottom: 1px solid #dee2e6;
  max-height: 300px;
  object-fit: cover;

}

.episode-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.episode-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}